:root{
  --primary-color: #512DA8;
  --secondary-color: #673AB7;
  --link-color: #7C4DFF;
  --hover-color: #757575;
  --divider-color-gradient: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --divider-color: #F8F9FA;
  --subtitle-font: "Kode Mono", monospace;
  --text-font: "Young Serif", serif;
  --secondary-font: "Poppins", sans-serif;
}

body{
  background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
}

Footer{
  padding-top: 5px;
  background: var(--divider-color-gradient);
  width: 100%;
  min-height: 30px;
}

footer .container{
  margin-left: 40px;
  text-align: center;
  padding: 10px;
}

footer .card{
width: 18rem;
}

footer .card-body a{
  margin: 5px;
}

.App-logo{
  width: 100px;
  height: auto;
}

.App-link {
  color: var(--link-color); 
  text-decoration: none;
}

.App-link:hover{
  color: var(--hover-color);
}

.container{
  max-width: 95%;
}

.main{
  
  color: #f5f7fa;
  margin: 0 auto;
  text-align: center;
}

.main .name{
  background-image: url(./fondo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main h1{
  padding: 50px;
  font-size: 45px;
  font-weight: 800;
  color: #caeee6;
}

.main h1:hover{
  color: var(--primary-color);
  background-color: rgba(192, 192, 245, 0.6);
}

.main h2{
  font-family: var(--text-font);
}

.main p{
  font-family: var(--secondary-font);
}

.main-info{
  padding: 30px;
  font-weight: 700;
  font-size: 40px;
  color: #FFF;
}

.main-info h2:hover{
  background-color: rgba(192, 192, 245, 0.6);
}

.main img{
  display: block;
  margin: 0 auto;
  max-width: 60%;
  border-radius: 15px;
  transition: all 150ms ease-in-out;
}

.main img:hover{
  transform: scale(1.2);
}

.work{
  background: radial-gradient(circle at 10% 20%, rgb(186, 190, 245) 0%, rgb(192, 192, 245) 33.1%, rgb(218, 203, 246) 90%);
  padding: 15px;
}

.work h2{
  font-family: var(--text-font);
  font-size: 45px;
  color: #512DA8;
}

.work h3{
  font-family: var(--subtitle-font);
  color: var(--secondary-color);
  text-align: left;
  margin-left: 15px;
}

.work-act{
  list-style-type: none;
  color: var(--secondary-color);
  text-align: right;
  margin-right: 20px;
}

.projects{
  height: 250px;
  background: linear-gradient(-225deg, rgb(82, 113, 196) 0%, rgb(177, 159, 255) 48%, rgb(236, 161, 254) 100%);
  padding: 15px;
}

.projects h2{
  font-family: var(--text-font);
  font-size: 45px;
  color: #512DA8;
}

.skills{
  color: #F8F9FA;
  background: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
  padding: 15px;
}

.skills h2{
  font-family: var(--text-font);
  font-size: 45px;
  color: #512DA8;
}

.skills p{
  font-family: var(--subtitle-font);
  font-size: 25px;
}

.certificates{
  background: linear-gradient(110.6deg, rgb(184, 142, 252) 2.2%, rgb(104, 119, 244) 100.2%);
  padding: 15px;
  color: #F8F9FA;
}

.certificates h2{
  font-family: var(--text-font);
  font-size: 45px;
  padding: 10px;
  color: #512DA8;
}

.contact{
  padding-bottom: 15px;
  background: linear-gradient(135deg, rgb(206, 159, 252) 10%, rgb(115, 103, 240) 100%);
}

.contact h2{
  font-family: var(--text-font);
  font-size: 45px;
  color: #512DA8;
}

.contact h3{
  font-family: var(--subtitle-font);
  color: var(--secondary-color);
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.contact h4{
  padding: 8px;
}

.contact-name {
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  padding: 5px;
}

.contact-email{
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  padding: 5px;
}

.contact-message{
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  padding: 30px;
  width: 80%;
}

.contact-btn{
  border-radius: 4px;
  padding: 5px;
  background-color: var(--primary-color);
  color: #F8F9FA;
}

