:root{
  --primary-color: #7745FF;
}

Footer{
  position: absolute;
  bottom: 0;
  background-color: #f8f8f8;
  width: 100%;
  min-height: 30px;
}

footer .container{
  margin-left: 5px;
  text-align: center;
  padding: 10px;
}

.App {
  margin-left: 5px;
}

.App-logo{
  width: 100px;
  height: auto;
}

.App-link {
  color: #6f13f0; 
}

.header{
  background-color: #f8f8f8;
  color: var(--primary-color);
  height: 100px;
}

.main{
  text-align: center;
}

.main img{
  width: 30%;
  border-radius: 15px;
}
